<nav id="top-nav-wrapper" class="navbar navbar-fixed-top">
  <div id="top-nav" class ="container-fluid">
    <div class="dropdown navbar-left" id="main-menu">
      <!--Menu Button-->
      <button type="button"
              class="btn dropdown-toggle btn-primary"
              data-toggle="dropdown"
              aria-expanded="false"
              > MetaNews <span class="caret"></span></button>
      <!--Menu Dropdown-->
      <ul class="dropdown-menu dropdown-menu-left navbar-left" role="menu">
        <!--Basic Filters-->
        <li><a type="button" (click)="filterRecommended()">Recommended</a></li>
        <li class="active"><a type="button" (click)="filterPopular()">Popular</a></li>
        <li><a type="button" (click)="filterNew()">New</a></li>
        <!--Seperator-->
        <li id="ideo-sep"role="seperator" class="divider"></li>
        <!--Ideology Filters-->
        <div [hidden]="windowWidth >= minTabsWidth">
          <li id="menu-left"
              [ngClass]="{'active': filters.left}">
            <a type="button"
              (click)="filterLeft()">
            <span class="glyphicon glyphicon-chevron-left"></span> Left</a></li>
          <li id="menu-neutral"
              [ngClass]="{'active': filters.neutral}">
            <a type="button"
               (click)="filterNeutral()">
              Neutral</a></li>
          <li id="menu-right"
              [ngClass]="{'active': filters.right}">
            <a type="button"
               (click)="filterRight()">Right
              <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </div>
      </ul>
    </div>
    <!--Tabs-->
    <div class="click-tabs" [hidden]="windowWidth < minTabsWidth">
      <ul class="nav nav-tabs navbar-left" id="ideo-tabs">
        <!--Left-->
        <li [ngClass]="{'active': filters.ideology.toString() === 'LEFT'}"><a type="button" (click)="filterLeft()"><span class="glyphicon glyphicon-chevron-left"></span> Left</a></li>
        <!--Neutral-->
        <li [ngClass]="{'active': filters.ideology.toString() === 'NEUTRAL'}"><a type="button" (click)="filterNeutral()">Neutral</a></li>
        <!--Right-->
        <li [ngClass]="{'active': filters.ideology.toString() === 'RIGHT'}"><a type="button" (click)="filterRight()">Right <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
    <!--Search Bar-->
    <div class="input-group navbar-right" id="advanced-search">
      <div class="navbar-form">
        <div class="input-group-btn">
          <input id="search-input" type="text" class="form-control" placeholder="Search">
          <div class="btn-group" role="group">
            <div class="dropdown">
              <!--Search Filter Dropdown Button-->
              <button id="search-menu-btn"
                      type="button"
                      class="btn btn-default"
                      aria-expanded="false"
                      (click)="showSearchFilter = true"
                      ><span class="caret"></span></button>
              <!--Search Filter Dropdown-->
              <ul class="dropdown-menu dropdown-menu-right" role="menu" id="search-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Journalists</a></li>
                <li><a href="#">Publishers</a></li>
              </ul>
              <!--Search Button-->
              <button id="search"
                      type="button"
                      class="btn btn-primary"
                      (click)="onSearch()"
                      ><span class="glyphicon glyphicon-search"></span></button>
              <!--Login Button-->
              <button id="login"
                      type="button"
                      class="btn btn-primary"
                      (click)="onLogin()"
                      ><span class="glyphicon glyphicon-user"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
