<nav id="top-nav-wrapper" class="navbar navbar-fixed-top">
  <div id="top-nav" class ="container-fluid">
    <div class="dropdown navbar-left" id="main-menu">
      <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false">MetaNews <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left navbar-left" role="menu">
        <li><a href="index.html">Recommended</a></li>
        <li class="active"><a href="index.html">Popular</a></li>
        <li><a href="index.html">New</a></li>
        <li id="ideo-sep"role="seperator" class="divider"></li>
        <li id="left"><a href="#left"><span class="glyphicon glyphicon-chevron-left"></span> Left</a></li>
        <li id="neutral" class="active"><a href="#neutral">Neutral</a></li>
        <li id="right"><a href="#right">Right <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        <li id="quality-sep" role="seperator" class="divider"></li>
        <li id="legit" class="active"><a href="#legit">Legit</a></li>
        <li id="fake"><a href="#fake">Fake News</a></li>
      </ul>
    </div>
    <div class="click-tabs">
      <ul class="nav nav-tabs navbar-left" id="ideo-tabs">
        <li><a href="#left"><span class="glyphicon glyphicon-chevron-left"></span> Left</a></li>
        <li class="active"><a href="#neutral">Neutral</a></li>
        <li><a href="#right">Right <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
    <div class="input-group navbar-right" id="advanced-search">
      <div class="navbar-form">
        <div class="input-group-btn">
          <input id="search-input" type="text" class="form-control" placeholder="Search">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-1g">
              <button id="search-menu-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" id="search-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Journalists</a></li>
                <li><a href="#">Publishers</a></li>
              </ul>
              <button id="search" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              <button id="login" type="button" class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
