<div class="arrow-box">
  <div class="left-arrow">
    <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
  </div>
  <div class="up-down-arrows-wrapper">
    <ul class="list-group up-down-arrows">
      <li><a href="#" ><span class="glyphicon glyphicon-chevron-up"></span></a>
      <li>0</li>
      <li><a href="#" ><span class="glyphicon glyphicon-chevron-down"></span></a>
    </ul>
  </div>
  <div class="right-arrow">
    <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <div class="veri-icon">
    <a href="#verify"><span class="glyphicon glyphicon-ok-sign"></span></a>
  </div>
  <div class="ideo-icon">
    <a href="#ideo"><span class=""></span></a>
  </div>
  <div class="comment-icon">
    <a href="#comment"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
  </div>
  <div class="info-icon">
    <a href="#info"><span></span></a>
  </div>
</div>
