.article-container {
  height: 103px;
}

.article-box {
  position: relative;
  overflow: hidden;
  height: 60px;
  margin: 1px;
  /* border: 1px solid silver; */
  padding: 0px;
}

.article-box:hover {
  background-color: gainsboro;
  box-shadow: none;
}

.article-title {
  font-variant: small-Caps;
  white-space: normal;

}

.article-title a {
  color: #484848;
  display: block;
  padding: 5px;
  height: 60px;
}

.article-title a:hover {
  text-decoration: none;
}

.info-box {
  position: relative;
  padding: 0px;
  overflow: hidden;
  height: 38px;
  margin: 1px;
}

.block-list li {
  padding: 0px;
}

.block-list li:last-child {
}

.block-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #484848;
  font-weight: bold;
}

.block-list li a:hover {
  background-color: gainsboro;
  text-decoration: none;
  color: #484848;
}

.article-tag {
  float: right;
  display: none !important; /* To be implemented Later */
}

.article-tag a {
  font-variant: small-caps;
  color: white !important;
  font-size: 12px;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  padding: 5px !important;
  margin: 5px;
  min-width: 26px;
}

.article-tag a:hover {
  background-color: #2e6da4 !important;
}
